extends layout

block content
  h1 Tic tac toe
  #board
    table
      tr
        td.cell 
        td.cell 
        td.cell
        td.cell
        td.cell
      tr
        td.cell
        td.cell
        td.cell
        td.cell
        td.cell
      tr
        td.cell
        td.cell
        td.cell
        td.cell
        td.cell
      tr
        td.cell
        td.cell
        td.cell
        td.cell
        td.cell
      tr
        td.cell
        td.cell
        td.cell
        td.cell
        td.cell
  button#restart Restart
  script(src="javascripts/function.js")

